doctype html
html
  head
    title Resume
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
    script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js')
    script(src='javascripts/dt.js')
    script(src='javascripts/edit.js')
    <link rel="stylesheet" type="text/css" href="stylesheets/style1.css">

  body
    .container(style='margin-top:100px;')
      .row.col-md-12
        ul.nav.nav-tabs
          li
            button.btn.btn-info
              a(data-toggle='tab', href='#home') Form
          li
            button.btn.btn-info
              a(data-toggle='tab', href='#about') List
          li
            button.btn.btn-info
              a(href='/logout') logout
    .container
      .tab-content
        #home.tab-pane.fade.in.active
          .container
            b #{user.name}
            b #{user.email}
            b #{user.password}
            
            form(action='/form', method='post' enctype="multipart/form-data")
              .row
                h3 DETAILS
                hr(style='border-color: red;')
                .form-group.col-md-4(style='margin-left: 90px; margin-top: 21px;')
                  label.control-label.col-md-5
                    b Name:
                  .input-group
                    span.input-group-addon(style='border-radius: 19px;')
                      i.fa.fa-user(arial-hidden='true')
                    input.form-control(type='text', name='name2', placeholder='enter name', style='border-radius: 20px; font-size:15px;')
              .row
                .form-group.col-md-4(style='margin-left: 90px; margin-top: 21px;')
                  label.control-label.col-md-5
                    b Number:
                  .input-group
                    span.input-group-addon(style='border-radius: 19px;')
                      i.fa.fa-phone(arial-hidden='true')
                    input.form-control(type='text', name='number2', placeholder='enter number', style='border-radius:20px; font-size:15px;')
              .row
                .form-group.col-md-4(style='margin-left: 90px; margin-top: 21px;')
                  label.control-label.col-md-5
                    b upload:
                  .input-group
                    span.input-group-addon(style='border-radius: 19px;')
                      i.fa.fa-file(arial-hidden='true')
                    input.form-control(type='file', name='image', placeholder='upload file ', style='border-radius:20px; font-size:15px;',required='')
              center
                input(type='submit', name='form', value='form')
        #about.tab-pane.fade
          <br>
          <br>
          table#example.table-bordered.table-striped.table-hover(style='margin-top:100px;')
            thead
              tr
                th Profile
                th Name
                th Number
                th Action
            tbody
              each member in data
                tr
                  td 
                    img(src="images/"+member.image,height="50",width="50")
                  td #{member.name}
                  td #{member.number}
                  td
                    button(value=member._id).btn.btn-info.edit Edit
                    button(value=member._id style="margin-left:10px").btn.btn-danger.remove Remove
          .dontshow          
            form(action='/update', method='post')
              .row
                h3 DETAILS
                hr(style='border-color: red;')
                .form-group.col-md-4(style='margin-left: 90px; margin-top: 21px;')
                  input(type="text",name="id")#id.hide
                  label.control-label.col-md-5
                    b Name:
                  .input-group
                    span.input-group-addon(style='border-radius: 19px;')
                      i.fa.fa-user(arial-hidden='true')
                    input#name.form-control(type='text', name='name2', placeholder='enter vehicle number', style='border-radius: 20px; font-size:15px;')
              .row
                .form-group.col-md-4(style='margin-left: 90px; margin-top: 21px;')
                  label.control-label.col-md-5
                    b Number:
                  .input-group
                    span.input-group-addon(style='border-radius: 19px;')
                      i.fa.fa-phone(arial-hidden='true')
                    input#password.form-control(type='text', name='number2', placeholder='enter type of vehicle', style='border-radius:20px; font-size:15px;')
              center
                input(type='submit', name='update', value='update')